<%= form_with(model: bracket) do |form| %>
  <% if bracket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bracket.errors.count, "error") %> prohibited this bracket from being saved:</h2>

      <ul>
        <% bracket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
